<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styleindex.css">
</head>
<body>
    <div class="home">
        <div class="home-main">
            <div class="left">
                <h2>Add Member</h2>
            </div>
            <div class="right">
                <button class="btn"><a href="/member">Click</a></button>
            </div>
        </div>

        <div class="home-main">
            <div class="left">
                <h2>Update Member</h2>
            </div>
            <div class="right">
                <button class="btn"><a href="/update">Click</a></button>
            </div>
        </div>

        <div class="home-main">
            <div class="left">
                    <h2>Members</h2>
            </div>
            <div class="right">
                <button class="btn"><a href="/users">Click</a></button>
            </div>
        </div>
    </div>
</body>
</html>