*{
    padding:0px;
    margin: 0px;
}

body
{
    background-color:black;
    color: white;
}

.home-main
{
    width: 312px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left,.right
{
    width: 70%;
}

.right
{
    width: 30%;
}

.home
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    width: 100%;
    flex-direction: column;
}

.btn
{
    background: red;
    outline: none;
    border: none;
    width: 77px;
    height: 29px;
    border-radius: 3px;
}

.btn:hover
{
    background-color:cadetblue    
}

a
{
    text-decoration: none;
    color: white;
    font-size: 17px;
}

h2
{
    font-family: 'Courier New', Courier, monospace;
}